<nav id="nav" class="main_nav_ctn" onclick="scrollTop">
	<ul class="left">
		<li><a href="{{@blog.url}}">Home</a></li>
		<li><a href="http://blog.dimpurr.com/">Blog</a></li>
		<li><a href="http://blog.dimpurr.com/tuneiz">Theme</a></li>
	</ul>
	<ul class="right">
		<li><a class="rss" href="{{@blog.url}}/rss/">Subscribe</a></li>
	</ul>
</nav>